.home {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
