.logo {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
}

.logoText {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  color: var(--black);
  height: 67px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  background-color: var(--white);
}
