.wrapper {
  position: relative;
}

.search {
  display: flex;
  width: 272px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  /* box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28); */

  border-radius: 8px;
  border: 1px solid var(--accent);
  background: var(--white);
  outline: none;

  padding-left: 48px;

  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 14px */
}

.searchImg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

/* @media screen and (min-width: 768px) {
  .search {
    width: 368px;
  }
}

@media screen and (min-width: 1280px) {
  .search {
    width: 410px;
  }
} */
